body{
    background-color: lightgray;
}

.cabecera{
    display: grid;
    grid-template-areas:'Header Header' 'Content Sidebar' 'Footer Footer'; 
    grid-template-rows: 150px 1fr 150px;
    grid-template-columns: 1fr 200px;
}

.coral{
    background-color: lightcoral;
}

.cyan{
    background-color: lightblue ;
}
