/*
Propiedades del contenedor.

*/
body{
    width: 200px;
}
.flex{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-content: space-between;
    height: 200px;
}

.red{
    background-color: red;

}

.primero{
    order: 1; /*sirve para especificar el orden de un elemento con esta clase
    asignada*/
}
