*{
    background-color: grey;
}

.texto{
    color:aliceblue;
}


h1{
    background-color: aqua;
    padding-left: 10px;
    margin-top: 50px;
    font-size: 50px;
    color: white;
    border-radius: 10px;
    border: solid 1px black;
    box-shadow: 5px 5px 5px black;

}


.fondo-rojo{
    background-color: red;
}